@use '../../styles/variables' as var;

.custom-button {
    background-color: var.$color-steel-blue;
    border-radius: 5px;
    border: none;
    color: var.$color-white;
    cursor: pointer;
    font-weight: var.$font-weight-bold;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken(var.$color-dark-blue, 10%);
    }
  
    &:disabled {
      background-color: var.$color-light-gray;
      cursor: not-allowed;
      color: var.$color-gray;
    }
  }
