@use './variables' as var;

@mixin flex($flex-direction: column) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin account-card-style ($align-items: flex-start) {
    align-items: $align-items;
    background: var.$color-light-gray2;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform 0.3s ease;
}