$color-navy: #001a4d;      
$color-dark-blue: #012b73;       
$color-steel-blue: #2e6da4;      
$color-light-blue: #c0e0f9;  
$color-transparent-navy: #001a4dab;   

$color-white: #ffffff;           
$color-light-gray: #d1d1d1;
$color-light-gray2: #fafafac7;     
$color-gray: #6e6e6e;          
$color-dark-gray: #333333;       

$color-success-green: #218838; 
$color-warning-orange: #ff7b00;  
$color-error-red: #d6342d;      

$color-gold: #d4af37;          

$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 22px;
$font-size-xxlarge: 28px;
$font-size-xxxlarge: 32px;

$font-weight-light: 300;  
$font-weight-regular: 400; 
$font-weight-bold: 700;  
$font-weight-extra-bold: 800;