@use '../../styles/variables' as var;
  
  .nav {
    background-color: var.$color-dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 2rem;

    &-list {
      display: flex;
      gap: 1rem;
      justify-self: end;
      list-style: none;
    }

    &-item {
      font-size: var.$font-size-small;
    }

    &-link {
      color: var.$color-white;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: blue;
      }
    }

  }