@use '../../styles/variables' as var;

.card {
  background: var.$color-light-gray2;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
  text-decoration: inherit;
  transition: transform 0.3s ease;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-title {
    margin-bottom: 10px;
    color: var.$color-dark-blue;
    font-size: 1.5rem;
  }

  &-description {
    color: var.$color-gray;
    font-size: 1rem;
  }

  &-link {
    align-items: center;
    color: var.$color-light-gray;
    display: flex;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
