.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;

  &__form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__input-group {
    margin-bottom: 15px;

    & label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    & input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #ccc;
    }

    &:hover {
      background-color: #0056b3;
    }

    &__register-link {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;

      & a {
        color: #007bff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
