@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.user-info {
  background: var.$color-light-gray2;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
  text-decoration: inherit;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;

  &_content {
    margin-left: 20px;
    @include mix.flex;
  }
}
